<!DOCTYPE html>
<html ng-app = "doubleDutchApp">
<head>
<title>Double Dutch</title>
  <meta charset="utf-8">
  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="css/application.css" rel="stylesheet"> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/tree.css" rel="stylesheet">
  <link href="css/angular-ui-tree.min.css" rel="stylesheet">
</head>
<body ng-controller="doubleDutchCtrl">
	<div class="container">
		
    <div class="container">
			<label for="fileUploader">File Upload</label>
			<input type="file" id="fileUploader" file-input="files" multiple>
			<br>
			<button type="button" class="btn btn-primary" ng-click="uploadDesigns(files, currentParser)">Upload Designs</button>
			<button type="button" class="btn btn-primary" ng-click="uploadTemplate(files, doeParser, experimentalDesign)">Upload Template</button>
			<br><br>
			<!-- <label for="parameterSelector">Variable</label> -->
			<!-- <br>
			<select id="parameterSelector" ng-model="currentVariable" ng-options="x for x in variables"></select>
			<br><br> -->
			<label for="targetInput">Target Levels</label>
			<br>
			<div ng-repeat="x in targetLevels">
				<input type="number" style="height:25px" ng-model="x.value">
			</div>
			<br>
			<input type="number" id="targetInput" style="height:25px" ng-model="newTarget" placeholder="New Target">
			<br><br>
      <button type="button" class="btn btn-primary" ng-click="clusterLevels()">Generate Targets</button>
			<button type="button" class="btn btn-primary" ng-click="addTarget()">Add Target</button>
			<button type="button" class="btn btn-primary" ng-click="removeTarget()">Remove Target</button>
			<br><br>
			<label for="targetInput">Assignment Penalty: {{assignmentPenalty}}</label>
			<br>
			<button type="button" class="btn btn-primary" ng-click="assignLevels()">Assign Levels</button>
			<button type="button" class="btn btn-primary" ng-csv="generateDesigns(experimentalDesign, doeTemplate)" filename="experimental_design.csv" field-separator=",">Generate Designs</button>
		</div>

		<div class="row">
      		<div class="col-sm-4">
        		<h3>Available Factors</h3>
        		<div ui-tree="flTreeOptions">
          			<ol ui-tree-nodes="" ng-model="factors">
            			<li ng-repeat="node in factors" ui-tree-node ng-include="'fl_tree_renderer.html'"></li>
          			</ol>
        		</div>
      		</div>
      		<div class="col-sm-4">
        		<h3>Experimental Design</h3>
        		<div ui-tree="edTreeOptions">
          			<ol ui-tree-nodes="" ng-model="experimentalDesign">
            			<li ng-repeat="node in experimentalDesign" ui-tree-node ng-include="'fl_tree_renderer.html'"></li>
          			</ol>
        		</div>
      		</div>
      		<div class="col-sm-4">
        		<h3>Available Levels</h3>
        		<div ui-tree="flTreeOptions">
          			<ol ui-tree-nodes="" ng-model="levels">
            			<li ng-repeat="node in levels" ui-tree-node ng-include="'fl_tree_renderer.html'"></li>
          			</ol>
        		</div>
      		</div>
    	</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-sanitize.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="js/angular-ui-tree.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.6/q.min.js"></script>
	<script src="js/papaparse.min.js"></script>
	<script src="js/ng-csv.min.js"></script>
	<script src="js/clotho3API.js"></script>
	<script src="js/doubleDutchApp.js"></script>
	<script src="js/doubleDutchCtrl.js"></script>
	<script src="js/featureWindowCtrl.js"></script>
	<script src="js/fileInput.js"></script>

	<script type="text/ng-template" id="fl_tree_renderer.html">
  	<div ui-tree-handle class="tree-node" style="{{node.backgroundColor}}">
  		<div class="tree-node-content">
        	<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)" style="{{node.toggleDisplay}}"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        	<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="addFeatures('lg', node.fl)" style="margin-right: 8px;"><span class="glyphicon glyphicon-pencil"></span></a>
        	<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
			<label for="moduleName" style="{{node.labelColor}}">Module</label><br>
			<input type="text" id="moduleName" style="height:25px" ng-model="node.fl.design.module.name">
			<form style="{{node.valueDisplay}}">
				<label for="levelValue" style="{{node.labelColor}}">{{node.variable.name}}</label><br>
				<input type="text" id="levelValue" style="height:25px" ng-model="node.parameter.value">
			</form>   
    		</div>
  	</div>
  	<ol ui-tree-nodes="" data-max-depth="{{node.depth}}" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'fl_tree_renderer.html'">
    		</li>
  	</ol>
	</script>

	<script type="text/ng-template" id="featureWindow.html">
      <div class="modal-header">
          <h3 class="modal-title">Add Feature</h3>
      </div>
      <div class="modal-body">
          <ul>
              <li ng-repeat="feat in features">
                  <a ng-click="selected.push({feature: feat})">{{feat.name}}</a>
              </li>
          </ul>
          Selected: 
          <br>
          <ul>
              <li ng-repeat="item in selected">
                  <a ng-click="moveFeature(item)">{{item.feature.name}}</a>
              </li>
          </ul>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>
</body>
</html>
